/*
 * =======================
 * === HTML BODY COLOR ===
 * =======================
 */
 
body
{
	background-color: lightgrey;
}

/*
 * =======================
 * === CONTAINER COLOR ===
 * =======================
 */

div.charts
{
    border: 5px solid black;
	background-color: lightgrey;
	width: 1100px;
	margin: auto;
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Container Title */ 
img
{
	width:1100px; 
	height:107px;
}

/*
 * =======================================
 * === ALL THINGS PERTAINING TO CHARTS ===
 * =======================================
 */

/* Chart Titles */
h2
{
	color: rgb(16,37,63);
	text-align: center;
	font-family: "Times New Roman";
    font-size: 30px;
}

/* 
 * --- Things Pertaining to Flex Sensor Chart ---
 * ----------------------------------------------
 */
 
div.flex_chart
{
	background-color: darkgrey;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-bottom: 30px;
}

/* Background of Flex Sensor Chart */
#flexBarChart
{
	background-color: white;
	width: 300px; 
	height: 300px;
}

/*
 * --- Things Pertaining to Showing Letter --- 
 * -------------------------------------------
 */

div.show_letter
{
	background-color: darkgrey;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-bottom: 30px;
}

/* Background of Showing Letter */
#flexBarChart
{
	background-color: white;
	width: 300px; 
	height: 300px;
}

/*
 * --- Things Pertaining to IMU Chart --- 
 * --------------------------------------
 */
 
div.imu_chart
{
	background-color: darkgrey;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-bottom: 30px;
}

/* Background of IMU Chart */
#imuRadarChart
{
	background-color: white;
	width: 300px; 
	height: 300px;
}	